input[type=text], input[type=password], select, input[type=number], input[type=Email], input[type=tel] {
	  width: 20%;
	  padding: 6px 10px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid #ccc;
	  border-radius: 4px;
	  box-sizing: border-box;
	  background-color: #f1f1f1;
}

button[type=submit], button[type=reset], button[type=back] {
 	width: 15%;
 	background-color: #636363;
 	color: white;
 	padding: 8px;
 	margin: 8px 0;
 	border: none;
 	border-radius: 4px;
 	cursor: pointer;
 	opacity: 70%;
 	margin-left: 50px;
 	font-weight: bold;
 	font-size: 17px;
}

button[type=submit]:hover {
  	background-color: #ddd;
  	color: #000000;
}
button[type=back]:hover {
  	background-color: #ddd;
  	color: #000000;
}
button[type=reset]:hover {
  	background-color: #ddd;
  	color: #000000;
}
