.card {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  width: 100%;
  border-radius: 12px;
  border-style: solid;
  border-color: #D4D4D4;
  border-width: 1.5px;
}

.innercard{
	background-color: #f2f2f2;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
	border-radius: 12px;
	border-style: solid;
	border-color: #D4D4D4;
	border-width: 1.5px;
}